@model AppAdeptsApp.Models.Submit
@{       Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/dist/formPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="flex">

    <!-- Navbar -->
    <div class="nav">
        <ul class="nav-list">
            <li><a class="nav-button" asp-action="Back">Home</a></li>
            <li><a class="nav-button" asp-action="Chat">Chat</a></li>
            <li><a class="nav-button" asp-action="Submit">Create an Issue</a></li>
        </ul>
        <a class="nav-button logout" asp-action="Logout">Log Out</a>
    </div>

    <div class="form-container">
        <form class="form-card" asp-controller="Submit" method="post" asp-action="SendIssue" role="form" id="issue" enctype="multipart/form-data">
            <h2>Submit Issue</h2>
            <div class="card-item">
                <label asp-for="SummaryField">Title of Issue</label>
                <input type="text" asp-for="SummaryField" name="SummaryField" id="summary" class="summary" required />
            </div>
            <div class="card-item">
                <label asp-for="DescriptionField">Summary of Issue</label>
                <textarea rows="8" asp-for="DescriptionField" name="DescriptionField" id="description" class="description" required></textarea>
            </div>
            <div class="card-item">
                <label asp-for="AttachmentField">Attach an Image:</label>
                <input type="file" asp-for="AttachmentField" name="AttachmentField" id="attachment" class="attachment" />
            </div>
            <button type="submit" class="submit-btn">
                <h4>Submit</h4>
            </button>
        </form>
    </div>
</body>
